*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}

body{
    line-height: 1.8;
    background-color: black;
}
.bodypage{
    margin: 0 14%;
    background-color: white;
}
.bodypage-inner{
    margin: 8px;
}
.line{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.text-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: darkgray;
    border-radius: 4pt;
    margin: 8px 0;
}
.synopsis{
    margin-top: 10px;
    margin-bottom: 90px;
}

.info{
    display: grid;
    grid-template-columns: 30% 70%;
}

.vid-flex{
    display: flex;
    justify-content: center;
}
.text-margin{
    margin: 5px;
}

.click-download{
    padding: 7px;
}
.download-vid{
    display: flex;
    flex-direction: row;
}
.side-left{
    width: 10%;
    background-color: darkgray;
}
.text-eps{
    padding: 5px;
    text-align: center;
}
.side-right{
    width: 90%;
}
.link-download{
    padding: 5px;
    background-color: whitesmoke;
}
.link-download a{
    text-decoration: none;
}
.download-margin{
    margin-top: 10px;
}