*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
}

body{
    line-height: 1.8;
    background-color: black;
}
.bodypage{
    margin: 0 14%;
    background-color: white;
}
.bodypage_inner{
    margin: 8px;
}
.line{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.text_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: darkgray;
    border-radius: 4pt;
    margin: 8px 0;
}
.synopsis{
    margin-top: 10px;
}

.info{
    display: grid;
    grid-template-columns: 30% 70%;
}

.text_margin{
    margin: 5px;
}
